<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/user-layout.html :: userLayout(~{::main})}">

<body>
    <main role="main" id="cartview-img">
        <div class="container p-5">
            <h1 class="text-center my-5 pt-3 font-weight-bolder"><span class="h1" th:text="${user}"></span>'s Library</h1>

            <div class="text-muted text-center" th:if="${reply}">
                <p th:text="${reply}"></p>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div th:replace="fragment/user/bookshelf.html :: bookShelf"></div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>