<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="footerSection" class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <p>No(1123) Building B,</p>
                <p>Third Floor At Section A</p>
                <p>Dream Land,Candy TownShip,</p>
                <p>Yangon,Myanmar</p>
            </div>
            <div class="col-md-6 text-center">
                <p>+959-892-778-677</p>
                <p class="text-danger">z@narkand.com</p>
            </div>
        </div>
        <hr class="py-3">
        <div class="text-center">
            <p >&copy; 2022/All Right Reserved made by
                <a href="#" class="text-decoration-none text-danger">SoeThi</a>
            </p>
        </div>
    </div>
</section>
</body>
</html>